html,
body {
  height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  html *,
  body * {
    box-sizing: border-box; }

header {
  display: grid;
  box-shadow: 0px 0px 13px 3px #dba2a2;
  height: 70px;
  margin: 0px 0px 10px 0px; }
  header * {
    align-self: center;
    justify-self: center; }

.main {
  height: calc(100% - 80px); }

button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  font-size: 1.2rem;
  color: white;
  background-color: #cfc8c6; }
  button.show {
    background-color: #d70428; }
  button.hide {
    display: none; }

.numberPad {
  display: grid;
  grid-template-areas: "1 2 3" "4 5 6" "7 8 9" "0 minus minus";
  grid-gap: 5px;
  margin-bottom: 5px; }
  .numberPad #minus {
    background-color: #d70428;
    grid-area: minus; }

.faultOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 5px; }
  .faultOptions * {
    height: 60px; }

.faultOption {
  height: 60px; }

.footer {
  padding: 10px 10px 10px 10px;
  height: 80px;
  margin: 0px;
  background-color: white;
  z-index: 1;
  display: grid;
  grid-gap: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer.split {
    grid-template-columns: 35% 65%; }
    .footer.split * {
      justify-self: left;
      width: calc(100% - 5px); }
  .footer button {
    background-color: #d70428; }
    .footer button:active {
      background-color: #a5031f; }

.section {
  height: calc(100% - 70px);
  display: none;
  transition: opacity 0.5s;
  opacity: 0;
  overflow: scroll; }
  .section.footless {
    height: 100%; }
  .section.current {
    display: grid; }
  .section.fade {
    opacity: 1; }
  .section .sectionArea {
    display: grid;
    align-self: end;
    justify-self: center;
    margin: 10px;
    width: calc(100% - 20px); }
    .section .sectionArea.small {
      grid-gap: 10px; }
  .section.rf-5 img {
    border-radius: 5px;
    width: 100%; }

.optionBtn {
  height: 60px; }
  .optionBtn:focus {
    background-color: #897873; }

.issue {
  display: none; }
  .issue.show {
    display: block; }

.faultLocator {
  display: none; }
  .faultLocator.show {
    display: grid; }

#otherCategory {
  display: none; }
  #otherCategory.show {
    display: grid; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  form.large {
    width: 70%; } }
