$primary_colour: rgb(215, 4, 40);
$secondary_color: rgb(45, 113, 122);
$tertiary_colour: rgb(207, 200, 198);
$gradient: linear-gradient(rgb(150, 0, 28), rgb(235, 0, 43));

html,
body {
  height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
  font-family: sans-serif;
}

header {
  display: grid;
  * {
    align-self: center;
    justify-self: center;
  } 
  box-shadow: 0px 0px 13px 3px rgba(219, 162, 162, 1);
  height: 70px;
  margin: 0px 0px 10px 0px;
}

.main {
  height: calc(100% - 80px);
}

button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  font-size: 1.2rem;
  color: white;
  background-color: $tertiary_colour; 
  &.show{
    background-color: $primary_colour;
  }
  &.hide{
    display: none;
  }
}

.numberPad {
  display: grid;
  grid-template-areas: 
  "1 2 3"
  "4 5 6"
  "7 8 9"
  "0 minus minus";
  grid-gap: 5px;
  #minus{
    background-color: $primary_colour;
    grid-area: minus;   
  }
  margin-bottom: 5px;
}

.faultOptions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 5px;
  *{
    height: 60px;
  }
}

.faultOption{
  height: 60px;
}



.footer {
  padding: 10px 10px 10px 10px;
  height: 80px;
  margin: 0px;
  background-color: white;
  z-index: 1;
  display: grid;
  grid-gap: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  &.split {
    grid-template-columns: 35% 65%;
    * {
      justify-self: left;
      width: calc(100% - 5px);
    }
  }
  button {
    background-color: $primary_colour;
    &:focus {
      background-color: darken($primary_colour, 10%);
    }
  }
}

.section {
  height: calc(100% - 70px);
  display: none;
  transition: opacity 0.5s;
  opacity: 0;
  overflow: scroll;
  &.footless {
    height: 100%;
  }
  &.current {
    display: grid;
  }
  &.fade {
    opacity: 1;
  }
  .sectionArea {
    display: grid;
    align-self: end;
    justify-self: center;
    margin: 10px;
    width: calc(100% - 20px);
    &.small {
      grid-gap: 10px;
    }
  }

  &.rf-5 {
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}

.optionBtn {
  height: 60px;
  &:focus {
    background-color: darken($tertiary_colour, 30%);
  }
}

.issue {
  display: none;
  &.show {
    display: block;
  }
}

.faultLocator {
  display: none;
  &.show {
    display: grid;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  form {
    &.large {
      width: 70%;
    }
  }
}
