html,
body {
  height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}

header {
  text-align: center;
  border: black 2px solid;
  height: 70px;
  h1 {
    color: red;
  }
  margin: 0px 0px 10px 0px;
}

.main {
  height: calc(100% - 160px);
}

.footer {
  height: 70px;
  margin: 10px 0px 0px 0px;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.section {
  height: 100%;
  display: none;
  border: black 2px solid;
  &.current {
    display: grid;
  }
  .sectionArea {
    border: 2px solid black;

    display: grid;
    align-self: center;
    justify-self: center;
    &.large {
      width: calc(100% - 50px);
      height: calc(100% - 50px);
    }
    &.small {
      width: 280px;
      height: 280px;
    }
  }
  &.scrollable {
    overflow: scroll;
  }
}

.optionBtn {
  &:focus {
    background-color: grey;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  form {
    &.large {
      width: 70%;
    }
  }
}
