$primary_colour: white;
$secondary_colour: rgb(207, 0, 41);

html {
  box-sizing: border-box;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: calc(inherit - 20px);
  }
}

.main {
  border: none;
  height: calc(100vh - 150px);
  display: grid;
  .page {
    grid-column: 1;
    grid-row: 1;
    background-color: none;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    .mainContent {
      height: 200px;
      width: 250px;
      background-color: white;
      display: grid;
      justify-items: center;
      align-items: center;
      * {
        text-align: center;
      }
    }
  }
}

.bottom {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 60px;
  * {
    grid-column: 1;
    grid-row: 1;
  }
  button {
    height: 40px;
    width: 250px;
    border-radius: 5px;
  }
}

.loginPage {
  z-index: 1;
  &.hidden {
    transform: translate(-1000px);
    transition: all 2s ease-in-out;
  }
  &.show {
    transform: translate(0px);
    transition: all 2s ease-in-out;
  }
}

#loginBtn {
  z-index: 1;
  &.hidden {
    transform: translate(-1000px);
    transition: all 2s ease-in-out;
  }
  &.show {
    transform: translate(0px);
    transition: all 2s ease-in-out;
  }
}

.optionPage {
  &.hidden {
    transform: translate(1000px);
    transition: all 2s ease-in-out;
  }
  &.show {
    transform: translate(0px);
    transition: all 2s ease-in-out;
  }
}

#backBtn {
  z-index: 1;
  &.show {
    transform: translate(0px);
    transition: all 2s ease-in-out;
  }
  &.hidden {
    transform: translate(1000px);
    transition: all 2s ease-in-out;
  }
}

.findIDForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary_colour;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  transition: 1s ease;
  visibility: hidden;
  * {
    margin: 5px;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &.show {
    visibility: visible;
    height: 100%;
    opacity: 1;
    z-index: 1;
  }
  form {
    * {
      width: 150px;
      display: block;
      margin: 10px auto;
      text-align: center;
      border: none;
      background: none;
      color: $primary_colour;
      outline: none;
      border: 2px solid $primary_colour;
      height: 35px;
      border-radius: 20px;
    }
    ::placeholder {
      color: $primary_colour;
    }
    input[type="text"] {
    }
    input[type="date"] {
    }
    #formBtn {
      width: 100px;
    }
  }

  #closeIDForm {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
